* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #2A2D46;
    background-color: #fff;
}

h1 {
    font-style: italic;
    
}

header {
    position: relative;
    top: 10px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.header_logo {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.logo_img {
    width: 40px;
    height: 40px;
}

.logo_text {
    margin-left: 10px;
}

.logo_name {
    position: relative;
    top: -10px;
    font-size: 16px;
    font-weight: bold;
    color: #3145FF;
}

.logo_subtitle {
    position: relative;
    left: -132px;
    top: 7px;
    font-size: 12px;
    color: #888;
}

.header_nav {
    margin-left: auto;
}

.nav {
    position: relative;
    left: 320px;
    top: -50px;
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    color: #2A2D46;
    font-size: 14px;
}

.header_contacts {
    position: relative;
    left: -30px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.phone {
    position: relative;
    text-decoration: none;
    left: 760px;
    top: -70px;
    font-size: 14px;
    font-family: "Montserrat";
    color: #2A2D46;
}

.header_button {
    position: relative;
    left: 800px;
    top: -70px;
    background-color: #fff;
    color: #EB2D66;
    font-family: "Montserrat";
    padding: 5px 15px;
    border: 1px solid #EB2D66; 
    font-size: 14px;
    cursor: pointer;
}

.header_button:hover {
    background-color: #EB2D66;
    color: #fff;
}

.header_cart {
    position: relative;
    left: 850px;
    top: -70px;
    display: flex;
    align-items: center;
}

.arrow{
    margin-left: 10px;
}

.cart_icon {
    position: relative;
    position: relative;
    left: -10px;
    width: 25px;
    margin-right: 5px;
}

.promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.promo_text {
    position: relative;
    top: -40px;
    max-width: 600px;
}

.promo_text h1 {
    font-size: 36px;
    font-weight: bold;
    color: #2A2D46;
    line-height: 1;
    weight: 
}

.promo_text p {
    font-size: 16px;
    color: #666;
    margin-top: 20px;
    max-width: 330px;
}

.promo_button {
    background-color: #EB2D66;
    color: #fff;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    padding: 20px 50px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 20px rgba(255, 53, 124, 0.432);
}

.promo_image-wrapper {
    position: relative;
    width: 600px;
    height: 400px;
}

.promo_background {
    position: absolute;
    top: -130px;
    left: 0;
    width: 615px;
    height: 369px;
}

.promo_image_1 {
    width: 110%;
    height: auto;
    position: relative;
    top: -40px;
    left: 150px;
    z-index: 1;
}

.promo_image_2 {
    width: 100%;
    height: auto;
    position: relative;
    top: -330px;
    left: -50px;
    z-index: 2;
}

.promo_overlay {
    position: absolute;
    top: 25px;
    left: 535px;
    color: #fff;
    z-index: 3;
}

.white_square {
    position: absolute;
    top: -15px;
    left: -25px; 
    width: 15px;
    height: 15px;
    background-color: #fff;
    z-index: 4;
}

.promo_overlay h2 {
    font-size: 20px;
    width: 220px;
    font-weight: bold;
}

.promo_overlay p {
    font-size: 14px;
    margin-top: 5px;
}

.promo_price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.progress_bars {
    position: absolute;
    bottom: 10px;
    left: 600px;
    top: 330px;
    display: flex;
    gap: 15px;
    z-index: 3;
}

.progress_bar {
    width: 35px;
    height: 8px;
    background-color: #cccccc78;
}

.progress_bar.active {
    background-color: #ffffff;
}

.hot-arrivals {
    width: 1300px;
    margin: 0 auto;
    margin-top: 150px;
}

.header-line {
    width: 1200px;
    margin: 0 auto;
}

  
  .header-line h2 {
    display: inline-block; 
 
    color: #2A2D46;
    font-weight: 900;
  }
  
  .header-line a {
    display: inline-block;
    padding: 10px 15px; 
    margin: 0 25px; 
    text-decoration: none; 
    color: #2A2D46; 
  }
  
  .header-line a.active {
    color: #3145FF; 
  }

  .product-wrapper {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.product-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.product-card {
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 4px 20px rgba(31, 18, 172, 0.112);
    gap: 50px;
    width: 269px;
    height: 416px;
    text-align: left;
    position: relative;
}

.product-card h3{
    font-size: 16px;
    color: #2A2D46;
    margin-top: -15px;
    text-align: center;
    font-weight: 900;
}

.product-card p{
    font-size: 12px;
    color: #2A2D46;
    margin-top: 10px;
    text-align: center;
}

.product-card img {
    display: block;
    margin: 0 auto;
    margin-top: 10px; 
}


.product-arrow{
    
    margin-left: 200px;
    margin-top: -80px;
}

.old-price {
    font-size: 14px;
    color: #000000;
    text-align: center;
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    display: block;
    margin-top: 10px;
}

.new-price {
    font-size: 16px;
    font-weight: bold;
    color: #3145FF;
    text-align: left;
    margin-top: 80px;
    
}

.product-decorator {
    position: relative;
    top: -50px; 
}

.product-decorator.left {
    margin-right: 20px;
}

.product-decorator.right {
    margin-left: 50px;
}

.carousel-indicator {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: -250px;
}

.scroll-line {
    display: flex;
    align-items: center; 
    margin-top: 30px;
}

.slider {
    margin-left: -320px; 
    margin-top: 5px;
}


.promo-section {
    display: flex; 
    gap: 35px; 
    justify-content: center;
    margin-top: 110px;
}

.promo-item {
    position: relative; 
}

.promo-background {
    width: 570px;
    height: 419px;
    background-size:auto; 
    background-position: center; 
}

.promo-content {
    position: absolute;
    bottom: 30px; 
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px; 
    color: white; 
    text-align: left;
}

.promo-icon {
    margin-top: 270px;
    margin-left: 25px;
}

.promo-title {
    max-width: 300px; 
    text-align:left; 
}

.promo-title h3 {
    margin-left: 60px;
    font-size: 20px; 
}

.promo-text p {
    margin-top: 15px;
    margin-left: 60px;
    font-size: 1em; 
}

.promo-link-wrapper {
    margin-top: -340px;
    margin-left: 510px; 
}
